html, body {
    height: 100%;
    width: 100%;
    margin:0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: blue
}

.canvas {
    height: 50%;
    width: 50%;
    border: 1px solid black;
}

.colorPickerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 90%;
    border: 1px solid black;
}

.colorPicker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50%;
}

.arrow {
    width: 5%;
    height: 50%;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

.color {
    height: 50%;
    width: 50%;
}