html, body {
    height: 100%;
    width: 100%;
    margin:0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.canvas {
    z-index: 1;
    height: 50%;
    width: 90%;
    border: 1px solid black;
}

.canvasGUI {
    position: absolute;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    display: none;
    height: 50%;
    width: 90%;
    border: 1px solid black;
}

.GUIButton {
    width: 40%;
    height: 20%;
    font-size: large;
}

.colorPickerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 90%;
    border: 1px solid black;
}

.colorPicker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50%;
}

.arrow {
    width: 5%;
    height: 50%;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

.color {
    height: 50%;
    width: 50%;
}

.selectedColor {
    height: 50%;
    width: 50%;
    border: 5px solid gold
}

.changePixelSizeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 5%;
}

.changePixelSizeSymbol {
    width: 5%;
}

.currentPixelSize {
    text-align: center;
    font-weight: bold;
    width: 10%;
    border: 1px solid black
}

.changePixelEraserRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    height: 10%;
    width: 90%;
    
}

.eraser {
    width: 5%;
    border: 1px solid black;
}

.clearCanvasSymbol {
    width: 5%;
    border: 1px solid black;
}

.uploadPaintingPreview {
    height: 50%;
    width: 50%;
}